In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
path= 'Q:\\SHA_KQ\\Digital Intelligence\\深度赋智-AI\\test_data\\hp_test\\'

In [3]:
dfs = pd.DataFrame()
for fname in os.listdir(path):
    if re.search(r'\.xlsx$', fname):
        dfs = pd.concat(
            [dfs ,pd.read_excel(path + fname)], 
            axis = 0, 
            ignore_index = True)

dfs2 = pd.DataFrame()
for fname in os.listdir(path):
    if re.search(r'\.xls$', fname):
        dfs2 = pd.concat(
            [dfs2 ,pd.read_excel(path + fname)], 
            axis = 0, 
            ignore_index = True)

In [7]:
dfs.head(1)

,DN,SADate,Delivery Date,Route,RDD,ship_pt,PO,OrderNo,Item #,PL,...,scan,PCS/PLT,City,Ship_to,FRemark,DESCRIPTION,Shipto,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,41028642,2021-03-01 06:15:00,2/26/21,4DGT,2/25/21,BK03,47662050,90876182,10,5T,...,ZPPU,NaN,XJ,F4,NaN,NaN,F40054315,RRdonnelley 20号 广东省东莞市寮步镇新旧围村黄沙河西路 张 思林 136500...,NaN,200

In [6]:
dfs2.head(1)

,DN,SADate,Del. Date,Route,RDD,ship_pt,PO,OrderNo,Item,PL,...,PCS/PLT,City,Ship_to,FRemark,DESCRIPTION,Shipto,company,address,contact,tel
0,41222943,2021-03-01 06:00:00,2/26/21,4HZT,2/27/21,BK01,SP32-08838,323838482.0,20.0,GJ,...,NaN,XJ-2,ER,NaN,NaN,ER/ST/HZ,英迈电子商贸(上海)有限公司 杭州市余杭区崇贤街道龙旋村北马桥21组 C:王云/131361...,NaN,1700.0,NaN

In [166]:
dfs2.columns

Index(['DN', 'SADate', 'Del. Date', 'Route', 'RDD', 'ship_pt', 'PO', 'OrderNo',
       'Item', 'PL', 'PartNo', 'Qty', 'GW', '是否扫描', 'PCS/PLT', 'City',
       'Ship_to', 'FRemark', 'DESCRIPTION', 'Shipto', 'company', 'address',
       'contact', 'tel'],
      dtype='object')

In [167]:
dfs_test = dfs[['PartNo', 'SADate',' qty']]
dfs_test['SADate'] = dfs_test['SADate'].astype(str)
dfs_test['SADate'] = dfs_test['SADate'].str.extract(r'(.{7})')
dfs_test2 = dfs2[['PartNo', 'SADate','Qty']]
dfs_test2['SADate'] = dfs_test2['SADate'].astype(str)
dfs_test2['SADate'] = dfs_test2['SADate'].str.extract(r'(.{7})')
dfs_test.columns = dfs_test2.columns

<ipython-input-167-89b03285653f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_test['SADate'] = dfs_test['SADate'].astype(str)
<ipython-input-167-89b03285653f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_test['SADate'] = dfs_test['SADate'].str.extract(r'(.{7})')
<ipython-input-167-89b03285653f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_test2['SADate'] = dfs_test2['SADate'].astype(str)
<ipython-input-167-89b03285653f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_test2['SADate'] = dfs_test2['SADate'].str.extract(r'(.{7})')

In [168]:
dfs_test_hp = pd.concat([dfs_test,dfs_test2], axis = 0)

In [169]:
dfs_test_hp['SADate'].unique()

array(['2021-03', '2021-04', '2021-05'], dtype=object)

In [170]:
dfs_test_hp.groupby(['PartNo', 'SADate'], as_index = False).sum()

               PartNo   SADate    Qty
0           1825-0057  2021-03  18900
1           1825-0057  2021-04  15120
2              1CQ02A  2021-03      5
3              1CQ02A  2021-04      6
4     1HA07A     #BCD  2021-03      7
...               ...      ...    ...
2980           Z8W52A  2021-05      8
2981           Z9M04A  2021-05      3
2982           Z9M05A  2021-04      5
2983           Z9M08A  2021-04      2
2984           Z9M08A  2021-05     28

[2985 rows x 3 columns]

In [75]:
len(np.setdiff1d(dl_test_hp['c_sku'], dfs_test_hp['PartNo']))

1109

---
dl_test_hp

In [158]:
path2 = 'C:\\Users\\dscshap3808\\Documents\\data\\dlwisdom\\hp_dlwis_test_data\\'
dl_test_hp = pd.read_csv(path2 + 'trial1.csv')
dl_test_hp = dl_test_hp[dl_test_hp['t_month_str'] != '2021-06-01']
dl_test_hp['t_month_str'] = dl_test_hp['t_month_str'].str.extract(r'(.{7})')

In [159]:
# path2 = 'C:\\Users\\dscshap3808\\Documents\\data\\dlwisdom\\hp_dlwis_test_data\\'
dl_test_hp2= pd.read_csv(path2 + 'trial2.csv')
dl_test_hp2 = dl_test_hp2[dl_test_hp2['t_month_str'] != '2021-06-01']
dl_test_hp2['t_month_str'] = dl_test_hp2['t_month_str'].str.extract(r'(.{7})')
dl_test_hp2.columns = ['date','sku','qty']

In [160]:
dl_test_hp.columns = ['date','sku','qty']
dfs_test_hp.columns = ['sku','date','qty']
dfs_test_hp = dfs_test_hp.groupby(['date', 'sku'], as_index = False).sum()

In [161]:
hp_fin = dfs_test_hp.merge(dl_test_hp, on = ['date','sku'], how = 'inner')
hp_fin = hp_fin.fillna(0)

In [96]:
from sklearn import metrics

In [122]:
def wmape(y_true, y_pred):
    return np.sum(np.abs(y_true - y_pred))/np.sum(np.abs(y_true))

def show_acc(col1, col2, notes = None):
    print("\nModel Report: " + notes)
    print("MAE :  {:.4f}".format(metrics.mean_absolute_error(col1, col2)))
    print("RMSE :  {:.4f}".format(np.sqrt(metrics.mean_squared_error(col1, col2))))
    print("MAPE :  {:.4f}".format(metrics.mean_absolute_percentage_error(col1, col2)))
    print("WMAPE :  {:.4f}".format(wmape(col1, col2)))

# mean_absolute_percentage_error

In [121]:
show_acc(hp_fin['qty_x'],hp_fin['qty_y'], 'inner join, use sku exists in both real and predicted data at the same time')

Model Report: inner join, use sku exists in both test and predicted data
MAE :  961.9718
RMSE :  12918454.5714
MAPE :  3.3393
WMAPE :  0.5306

In [128]:
# ---
# 只用存在于真实集的item。
hp_fin2 = dfs_test_hp.merge(dl_test_hp, on = ['date','sku'], how = 'left')
hp_fin2 = hp_fin2.fillna(0)

In [141]:
show_acc(hp_fin2['qty_x'],hp_fin2['qty_y'], 'left join, use sku exists in real data.')

Model Report: left join, use sku exists in real data.
MAE :  934.0967
RMSE :  12370226.9804
MAPE :  3.2319
WMAPE :  0.5350

In [130]:
# the trial 2 data

In [138]:
hp_fin_data2 = dfs_test_hp.merge(dl_test_hp2, on = ['date','sku'], how = 'inner')
hp_fin_data2 = hp_fin.fillna(0)
hp_fin_data22 = dfs_test_hp.merge(dl_test_hp2, on = ['date','sku'], how = 'left')
hp_fin_data22 = hp_fin.fillna(0)

In [139]:
show_acc(hp_fin_data2['qty_x'],hp_fin_data2['qty_y'], 'inner join, use sku exists in both real and predicted data at the same time')

Model Report: inner join, use sku exists in both real and predicted data at the same time
MAE :  961.9718
RMSE :  12918454.5714
MAPE :  3.3393
WMAPE :  0.5306

In [140]:
show_acc(hp_fin_data22['qty_x'],hp_fin_data22['qty_y'], 'inner join, use sku exists in both real and predicted data at the same time')

Model Report: inner join, use sku exists in both real and predicted data at the same time
MAE :  961.9718
RMSE :  12918454.5714
MAPE :  3.3393
WMAPE :  0.5306

---
sum

In [150]:
print(['%f' % i for i in dl_test_hp.groupby(['date']).sum()['qty']])

['1671825.868865', '1676409.058759', '1807145.735611']

In [157]:
hp_fin.groupby('date').sum()

           qty_x         qty_y
date
2021-03  2112423  1.611131e+06
2021-04  1528153  1.576280e+06
2021-05  1522984  1.709204e+06

In [171]:
report = hp_fin_data22.groupby('date').sum()

In [178]:
pd.DataFrame(['%i' % i for i in report['qty_y']], report['qty_x'])

               0
qty_x
2112423  1611131
1528153  1576280
1522984  1709204